body{
    width: 100%;
    border: 0px;
    margin: 0px;

}

header{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

header > h2{
    font-family: 'Monsterrat', sans-serif;

}

header > ul{
    display: flex;
    flex-direction: row;
    height: 0px;
    padding: 0em 0 4em 0;

}

#body{
    width: 100%;
    border: 0px;
    margin: 0px;
    display: flex;
}

#bodyHeadCatImg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.37) 0%, rgba(0, 0, 0, 0.37) 100%), url(./media/img/homepagecat.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 0px;
    padding: 40vh 0 40vh 0;
    margin: 0px;
}

hr.thickWhiteUnderline{
    width: 70vw;
    color: white;
    border: 1px solid white;
}

#titleHomeLink:hover{
    color: black;
}
#titleHomeLink{
    color: black;
}
#titleHomeLink:visited{
    color: black;
}