@import "tailwindcss";
@plugin "daisyui" {
   themes: dark --default;
}
/* if you forget or don't know what these are, here is the docs link 
https://daisyui.com/docs/themes/
https://tailwindcss.com/docs/theme
*/

/* base colors from business cards:
 * green_bg = 7ca06e
 * blue_accent = 86adbc
*/

@plugin "daisyui/theme" {  name: "mytheme";
  default: true; /* set as default */
  prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: light; /* color of browser-provided UI */
  --color-primary: #4379A3;
  --color-secondary: #3349A3;
  --color-accent: #b2dbcb;
  --color-content: #fff;
  --color-neutral: #230;
  --color-base-100: #111410;
  --color-base-200: #101;
  --color-base-300: #080008;
  --color-info: #0f9;
  --color-success: #36f;
  --color-warning: #ff0;
  --color-error: #f22;
}
